{% extends "layout.html" %}
{% block content %}
<div class='container ny'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>A Promising Future For New York State</h1>
        </div>
        <div class='col-md-6 col-sm-6'>
            <img id="im-2" src="static/assets/images/candidate.png" alt="Slide 2">
        </div>
        <div id="pa-1" class='col-md-6 col-sm-6'>
            <p>
                William G. is a political activist and republican politician who became mayor of Hornell, NY. from 2010 to 2014, and now is campaigning for governor of the State of New York. Born on February 14, 1980, to a working class family in Aurora, New York. A small village located in the town of Ledyard on the east shore of Cayuga Lake, William moved to the metropolitan area where he finished his studies and graduated from Columbia State University in 2008 with a Bachelor of Political Science. After graduation, he returned home and became a community organizer, and helped other republican candidates like Jeff O'Brian to run for office. On April 10, 2010, William G. made history when he thoroughly defeated 8-term mayor Tim McGregor. His innovative ideas got the support of a vast majority of the people of Hornell. Today he is running for governor, and with your help, he will become the next governor of New York on October 22, 2019.
            </p>
        </div>
    </div>
</div>
{% endblock %}