{% extends "layout.html" %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='first col-sm-12 col-md-12'>
            <img id="vote" src="static/assets/images/button.jpg" alt="Slide 1">
        </div>
        <div class='second col-sm-12 col-md-12'>
            <p>
                "The State of New York has long been challenged by politicians that don't have completely delivered core policies that take care of the issues that affect most people of this beautiful State. William G. offers innovative changes that will address those issues that many of the current lawmakers have ignored."
            </p>
        </div>
    </div>
    <div class='row mi'>
        <div class='fourth col-md-6 col-sm-6'>
            <h2>William G. Is Your Best Choice!</h2>
            <p class="third">
                For over thirteen years, William G. has demonstrated commitment to all the people of New York. From the early years in his role as a mayor of Hornell, one of the most thriving towns of this magnificent state, William G. has materialized all the innovative ideas he mentioned during his campaign. Today he promises to do the same as the next governor of New York State so be assured that once again your vote is going to make the difference in this critical moment when the citizens of New York are asking for a change of long overdue laws that have had a negative impact on the daily life of the average people of New York, which makes up more than seventy percent of its population. So, on October 22, 2019, go to your nearest voting booth and allow me to make that change!.
            </p>
        </div>
        <div class='col-md-6 col-sm-6'>
            <img id="im-2" src="static/assets/images/candidate.png" alt="Slide 2">
        </div>
    </div>
</div>
<div class='container ny'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>The Future of New York Is In Our Hands</h1>
        </div>
        <div class='col-md-6 col-sm-6'>
            <p>
                As citizens of New York State, we face enormous challenges to overcome. The problems that affect us today will be solved only if we unite in search of new ideas that together we can turn into solutions!. We have done it in the past, and we'll do it again. Until now, a great majority of New Yorkers feel that the vast resources that New York State has offered to us have not been managed in the most effective manner. Fortunately, With your help, we are going to make it the most prosperous state in the US once again. So what are we waiting for!. Let's make William G. our voice.
            </p>
        </div>
        <div class='col-md-6 col-sm-6'>
            <p>
                The time has come. We can't no longer let another year pass while New Yorkers still struggle dealing with the same wrong policies that incompetent lawmakers still sitting in office have created and still hurt us today. The State of New York deserves better and we are going to make this our promise!. This election is going to mark a new beginning and a path that is going to lead us into the future. It's time to embark on a journey that will take us to a more promising future, but it only can be done if we unite and make this change happen with our decision and our vote!.
            </p>
        </div>
    </div>
</div>
{% endblock %}