{% extends "layout.html" %}
{% block content %}
 <div class='container'>
     <div class='container'>
         <div class='row'>
             <div class='first tit col-sm-12 col-md-12'>
                 <h1>Vision &amp; Priorities</h1>
             </div>
             <div class='second col-sm-12 col-md-12'>
                 <p>
                     "For many years, New Yorkers have enjoyed the great benefits of living in this magnificent state. Unfortunately, previous administrations have neglected some important areas of the government. As a result, we are witnessing how people struggle to take care of their basic needs. William G. is committed to restoring those areas of the system where immediate change is a priority."
                 </p>
             </div>
         </div>
     </div>
 </div>
 <div class='container'>
     <div class='container'>
         <div class='row'>
             <div class='first col-sm-12 col-md-12'>
                 <h1>Strong Economy</h1>
             </div>
             <div class='second secondB col-sm-12 col-md-12'>
                 <p>
                     Although the economy of the State of New York has been stable in the last decade, There is room for improvement. No only the management of tax revenues can be handled more effectively, but also increased in the first year of operation. Those funds can then be used towards different areas where a budged increase is mostly needed. These changes will facilitate growth in the economy turning stagnating wages into competitive salaries for all New Yorkers.
                 </p>
             </div>
         </div>
     </div>
 </div>
 <div  id="outer" class='container'>
     <div class='container'>
         <div class='row'>
             <div class='first col-sm-12 col-md-12'>
                 <h1>Public Education System</h1>
             </div>
             <div class='second secondB col-sm-12 col-md-12'>
                 <p>
                     One of the areas that we consider to be our number one priority is public education, especially for our kids. If we want New York to thrive, we must invest heavily in the future of every single kid in our state. That is why we have focused our attention to solve the problem that lack of funding causes in certain areas to local schools in the state of New York. As the following graph shows, there is an important number of donations allocated to different states across the country.
                 </p>
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-12">
                             <div class="row">
                                 <!-- Time Chart -->
                                 <div class="col-sm-12">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Number of Donations
                                         </div>
                                         <div class="chart-stage">
                                             <div id="time-chart"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Time Chart -->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class='row'>
             <div class='second secondB col-sm-12 col-md-12'>
                 <p>
                     Although the number of private donations received is important to help our kids, challenges remain to be solved. the poverty level in our state remains high. Therefore, we have designed a strategy to lower poverty by creating policies that promote more investment from the private sector to create higher income for families and their kids. Solving this problem in particular should facilitate sending their kids to school. In addition, the amount of donations given to these schools will increase the type of resources that schools are able to get from the donations given to them as the following charts illustrates it.
                 </p>
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-12">
                             <div class="row">
                                 <!-- Resources -->
                                 <div class="col-sm-4">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Resources Type
                                         </div>
                                         <div class="chart-stage">
                                             <div id="resource-type-row-chart"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Resources -->

                                 <!-- funding Pie -->
                                 <div class="col-sm-4">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Funding Status
                                         </div>
                                         <div class="chart-stage">
                                             <div id="funding-chart"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- funding Pie -->

                                 <!-- Poverty -->
                                 <div class="col-sm-4">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Poverty Level
                                         </div>
                                         <div class="chart-stage">
                                             <div id="poverty-level-row-chart"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Poverty -->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class='row'>
             <div class='second secondB col-sm-12 col-md-12'>
                 <p>
                     The good news is that there is a great number of donations still being sent to many different schools across the US, and New York State remains among the highest recipients of school funding. Although this amount of Dollars help to improve the experience that our kids get at school, We are committed to increase those numbers even more, so that the quality of education for kids in New York will remain at the highest level possible, which still can be seen in the chart data bellow.
                 </p>
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-12">
                             <div class="row">
                                 <!-- menu select -->
                                 <div class="col-sm-6">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Donation State
                                         </div>
                                         <div class="chart-stage">
                                             <div id="menu-select"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- menu select -->

                                 <!-- Metric 1 -->
                                 <div class="col-sm-3">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Total Number of Donations
                                         </div>
                                         <div class="chart-stage" style="background: #33CC99;
                                    position: relative;
                                    font-size: 29px;
                                    color: white;
                                    vertical-align: middle;
                                    text-align: center;
                                    padding-top: 12px;
                                    padding-bottom: 0px;">
                                             <div id="number-projects-nd"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Metric 1 -->

                                 <!-- Metric 2 -->
                                 <div class="col-sm-3">
                                     <div class="chart-wrapper">
                                         <div class="chart-title">
                                             Total Donations in USD
                                         </div>
                                         <div class="chart-stage">
                                             <div id="total-donations-nd"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- Metric 2 -->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <div class='container'>
     <div class='container'>
         <div class='row'>
             <div class='first col-sm-12 col-md-12'>
                 <h1>Safety</h1>
             </div>
         </div>
         <div class='row'>
             <div class='first second secondB secondC col-sm-12 col-md-12'>
                 <p>
                     Despite a continuous increase of population, New York State consistently ranks among the top ten safest states in the United States. Violent crimes in this state have dropped over 15% in the last decade and latest reports indicate that murder rates in 2017 were the lowest since 1963 when records started to be filed. Although these are positive news, William G. still believes we can do more. So his plan to keep safety at its highest level is to increase well-trained police agents in places where it is necessary and launch an educational campaign where all New York citizens learn the importance of public responsibility.
                 </p>
             </div>
         </div>
     </div>
 </div>
{% endblock %}